---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="gtkmm-utils">
  <article class="prose dark:prose-invert max-w-4xl mx-auto p-4 md:p-6 lg:p-12">
    <h1><small>gtkmm-utils</small></h1>

    <section>
      <p>
        gtkmm-utils is a collection of high level utility functions, classes and
        widgets written on top of gtkmm and glibmm C++ libraries. It includes:

        <ul>
          <li>Tile widgets</li>
          <li>Dialog helpers</li>
          <li>Logging framework</li>
          <li>Option parsing, date and string utilities</li>
        </ul>
      </p>

      <p>
        I announced the project on <a
          href="https://mail.gnome.org/archives/gtkmm-list/2007-August/msg00128.html"
          >August 26, 2007</a
        >.
      </p>

      <p>
        The last version of gktmm-utils was 0.4.1, released on <a
          href="https://mail.gnome.org/archives/gnome-announce-list/2008-December/msg00021.html"
          >December 2, 2008</a
        >. gtkmm-utils is licensed under the LGPL v2.1 and <a
          href="https://github.com/markoa/gtkmm-utils">available on GitHub</a
        >.
      </p>

      <p>
        gtkmm-utils is among my <a href="/past-work">past work</a>.
      </p>

      <hr />

      <footer>
        <em>
          &copy; <a href="/">Marko Anastasov</a>. This page was last updated on
          March 25, 2015.
        </em>
      </footer>
    </section>
  </article>
</Layout>
