---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="gtkmm" ogType="article">
  <article class="prose dark:prose-invert max-w-4xl mx-auto p-4 md:p-6 lg:p-12">
    <h1><small>gtkmm</small></h1>

    <section>
      <p>
        I contributed to the <a href="http://www.gtkmm.org">gtkmm project</a>,
        C++ bindings for <a href="http://www.gtk.org">Gtk+</a> and related open source
        libraries, between 2006 and 2008. I was fortunate to collaborate with some
        very smart and hard working developers and learned a lot from them. My biggest
        contributions were bindings, documentation and example programs for the Gtk+
        printing API and Glib’s GIO.
      </p>

      <p>
        gtkmm is among my <a href="/past-work">past work</a>.
      </p>

      <hr />

      <footer>
        <em>
          &copy; <a href="/">Marko Anastasov</a>. This page was last updated on
          March 25, 2015.
        </em>
      </footer>
    </section>
  </article>
</Layout>
