---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Past Work" ogType="article">
  <article class="prose dark:prose-invert max-w-4xl mx-auto p-4 md:p-6 lg:p-12">
    <h1><small>Past Work</small></h1>

    <section>
      <p>
        Here’s a brief timeline of what I did before founding
        <a href="http://renderedtext.com">Rendered Text</a>.
      </p>

      <p>
        <ul>
          <li>2008—2010 <a href="http://plakatt.com">Plakatt</a></li>
          <li>2007—2009 <a href="/past-work/paperbox.html">Paperbox</a></li>
          <li>
            2007—2008 <a href="/past-work/gtkmm-utils.html">gtkmm-utils</a>
          </li>
          <li>2006—2008 <a href="/past-work/gtkmm.html">gtkmm</a></li>
          <li>2006—2007 <a href="/past-work/usbsink.html">USBSink</a></li>
        </ul>
      </p>

      <hr />

      <footer>
        <em>
          &copy; <a href="/">Marko Anastasov</a>. This page was last updated on
          March 25, 2015.
        </em>
      </footer>
    </section>
  </article>
</Layout>
