---
import usbsink from "../../assets/past-work/usbsink.jpg";
import usbsinkSettings from "../../assets/past-work/usbsink-settings.jpg";

import Layout from "../../layouts/Layout.astro";
---

<Layout title="USBSink">
  <article class="prose dark:prose-invert max-w-4xl mx-auto p-4 md:p-6 lg:p-12">
    <h1><small>USBSink</small></h1>

    <section>
      <p>
        USBSink was a GNOME program for automatic file synchronization with
        removable drives. A user could create file synchronization tasks to run
        whenever an external USB drive would be attached to the computer. The
        program would then watch the subscribed files and directories for
        changes and copy them to or from the removable drive.
      </p>

      <h3>Screenshots</h3>

      <p>
        <figure>
          <img src={usbsink.src} alt="USBSink main window" />
          <figcaption>USBSink: main window</figcaption>
        </figure>
      </p>

      <p>
        <figure>
          <img src={usbsinkSettings.src} alt="USBSink settings window" />
          <figcaption>USBSink: settings</figcaption>
        </figure>
      </p>

      <p>
        My goal was to create a simple program that would execute one-way file
        synchronization. Once I have reached that goal I have soon lost interest
        in adding more features, even though I listed some further plans on the
        project website. It was basically a student project that helped me learn
        a lot about programming on Linux. I wrote it in C++.
      </p>

      <p>
        Last version was 0.3.3, released on September 4, 2007 and licensed under
        the GPL version 2.
      </p>

      <p>
        The project is still hosted on SourceForge: <a
          href="http://usbsink.sourceforge.net">usbsink.sourceforge.net</a
        >.
      </p>

      <p>
        USBSink is among my <a href="/past-work">past work</a>.
      </p>

      <hr />

      <footer>
        <em>
          &copy; <a href="/">Marko Anastasov</a>. This page was last updated on
          March 25, 2015.
        </em>
      </footer>
    </section>
  </article>
</Layout>
